/target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
**/.flattened-pom.xml
**/bootstrap-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/.DS_Store

### IntelliJ IDEA ###
.idea/**
**/*.iws
*.iml
*.ipr
*.log
**/target



### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/




